<!-- Person Chat -->
<div class="person-chat">
  <img src="assets/img/profile02.png" alt="" />
  <div>
    <div class="chat-top">
      <h4>Boris Doe</h4>
      <span class="lastmsg-time">4:32</span>
    </div>

    <p class="last-msg">Let’s meet on 3pm today</p>
  </div>
</div>
<!-- Person Chat -->
<div class="person-chat active">
  <img src="assets/img/profile03.png" alt="" />
  <div>
    <div class="chat-top">
      <h4>Boris Doe</h4>
      <span class="lastmsg-time">4:32</span>
    </div>

    <p class="last-msg">Let’s meet on 3pm today</p>
  </div>
</div>
<!-- Person Chat -->
<div class="person-chat">
  <img src="assets/img/profile01.png" alt="" />
  <div>
    <div class="chat-top">
      <h4>Boris Doe</h4>
      <span class="lastmsg-time">4:32</span>
    </div>

    <p class="last-msg">Let’s meet on 3pm today</p>
  </div>
</div>
<!-- Person Chat -->
<div class="person-chat">
  <img src="assets/img/profile03.png" alt="" />
  <div>
    <div class="chat-top">
      <h4>Boris Doe</h4>
      <span class="lastmsg-time">4:32</span>
    </div>

    <p class="last-msg">The web app was awesome!</p>
  </div>
</div>
<!-- Person Chat -->
<div class="person-chat">
  <img src="assets/img/profile02.png" alt="" />
  <div>
    <div class="chat-top">
      <h4>Boris Doe</h4>
      <span class="lastmsg-time">4:32</span>
    </div>

    <p class="last-msg">The web app was awesome!</p>
  </div>
</div>
<!-- Person Chat -->
<div class="person-chat">
  <img src="assets/img/profile01.png" alt="" />
  <div>
    <div class="chat-top">
      <h4>Boris Doe</h4>
      <span class="lastmsg-time">4:32</span>
    </div>

    <p class="last-msg">The web app was awesome!</p>
  </div>
</div>
<!-- Person Chat -->
<div class="person-chat">
  <img src="assets/img/profile02.png" alt="" />
  <div>
    <div class="chat-top">
      <h4>Boris Doe</h4>
      <span class="lastmsg-time">4:32</span>
    </div>

    <p class="last-msg">The web app was awesome!</p>
  </div>
</div>
<!-- Person Chat -->
<div class="person-chat">
  <img src="assets/img/profile01.png" alt="" />
  <div>
    <div class="chat-top">
      <h4>Boris Doe</h4>
      <span class="lastmsg-time">4:32</span>
    </div>

    <p class="last-msg">The web app was awesome!</p>
  </div>
</div>
<!-- Person Chat -->
<div class="person-chat">
  <img src="assets/img/profile03.png" alt="" />
  <div>
    <div class="chat-top">
      <h4>Boris Doe</h4>
      <span class="lastmsg-time">4:32</span>
    </div>

    <p class="last-msg">The web app was awesome!</p>
  </div>
</div>
<!-- Person Chat -->
<div class="person-chat">
  <img src="assets/img/profile02.png" alt="" />
  <div>
    <div class="chat-top">
      <h4>Boris Doe</h4>
      <span class="lastmsg-time">4:32</span>
    </div>

    <p class="last-msg">The web app was awesome!</p>
  </div>
</div>
