<li>
  <div class="conversation-list">
    <div class="chat-avatar">
      <img src="assets/img/profile03.png" alt="" />
    </div>
    <div class="user-chat-content">
      <div class="ctext-wrap">
        <p>
          I’m still eat in angkringan. Maybe 15 minutes later I will
          send the files to you bro.
        </p>
        <p class="chat-time">12:21 pm</p>
      </div>
    </div>
  </div>
</li>

<li>
  <div class="conversation-list">
    <div class="chat-avatar">
      <img src="assets/img/profile03.png" alt="" />
    </div>
    <div class="user-chat-content">
      <div class="ctext-wrap">
        <p>
          I’m still eat in angkringan. Maybe 15 minutes later I will
          send the files to you bro.
        </p>
        <p class="chat-time">12:21 pm</p>
      </div>
    </div>
  </div>
</li>

<li class="right">
  <div class="conversation-list">
    <div class="chat-avatar">
      <img src="assets/img/profile03.png" alt="" />
    </div>
    <div class="user-chat-content">
      <div class="ctext-wrap">
        <p>
          I’m still eat in angkringan. Maybe 15 minutes later I will
          send the files to you bro.
        </p>
        <p class="chat-time">12:21 pm <i class="fas fa-check"></i></p>
      </div>
    </div>
  </div>
</li>
<hc-divider></hc-divider>
<li>
  <div class="conversation-list">
    <div class="chat-avatar">
      <img src="assets/img/profile03.png" alt="" />
    </div>
    <div class="user-chat-content">
      <div class="ctext-wrap">
        <p>
          I’m still eat in angkringan. Maybe 15 minutes later I will
          send the files to you bro.
        </p>
        <p class="chat-time">12:21 pm</p>
      </div>
    </div>
  </div>
</li>
